<%- include('./partials/head') %>
<section class="login-container">
  <div class="login-text">
    <form action="/stakeholder" method="post">
      <div class="login-form">
        <div class="login-form-top">
          <h3 id="login-heading" tabindex="1">Log in met jouw bedrijf.</h3>
        </div>
        <label for="username">Username</label>
        <input type="text" id="username" name="u" placeholder="Enter your username" required aria-labelledby="login-heading" tabindex="1">
        <label for="password">Password</label>
        <input type="password" id="password" name="p" placeholder="Enter your password" required tabindex="2">
        <button type="submit" class="login-btn" tabindex="3">Log in</button>
        <footer>
          <div class="footer-main">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://instagram.com" aria-label="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://linkedin.com" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          
          <div class="footer-bottom">
            <p>&copy; 2024 Handprint Footprint. All rights reserved.</p>
          </div>
        </footer>
      </div>
    </form>
  </div>
  
  <section class="welcome-container">
    <div class="login-container-text">
      <h1 tabindex="4">Welcome to the website of <span>Handprint Footprint</span></h1>
      <h3 tabindex="5">On this page you can see how well your stakeholders are doing using the SDG's.</h3> 
      <h3 tabindex="6">Login to see how well your stakeholders are doing.</h3>
      <img src="/imgs/handprint-for social preview (1).png" alt="Handprint/Footprint" aria-hidden="true">
    </div>
  
    <div class="container-sdg-login">
      <% data.forEach((item, index) => { %>
        <% const currentItem = data[index]; %>
        <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="static-image" alt="SDG <%= index + 1 %> <%= currentItem.description %>" tabindex="<%= index + 7 %>">
      <% }); %>      
  </section>
</section>


