<%- include('./partials/head') %>

<nav class="navbar">
  <div class="navbar-item">
      <form action="/" method="post">
          <button class="back-button" tabindex="1">Terug naar Inloggen</button>
      </form>
  </div>
  <div class="navbar-brand">
      <span class="navbar-item" tabindex="2">U bent nu ingelogd als: Bedrijf X</span>
  </div>
  <div class="navbar-menu">
      <div class="navbar-end">
      </div>
  </div>
</nav>
<div class="SDG-pagina">
<main>
  <div class="SDGs">
  <div class="container">
    <h1 tabindex="3">Aan welke SDG’s wordt een <span>positieve</span> bijdrage geleverd doordat deze mensen bij jouw bedrijf werken? * 2/4</h1>
    <h2 tabindex="4">Denk bijvoorbeeld aan het feit dat jouw bedrijf loon betaalt, waardoor SDG 1 en 2 worden geholpen. Of kijk naar de arbeidsomstandigheden (bureau, stoel, licht, werktijden) waarmee SDG 3 wordt geholpen.</h2>
  
    <h3 class="important-heading" tabindex="5">Kies <span>MINIMAAL</span> 3 SDG's voor jouw stakeholder</h3>

    <div class="container-sdg" tabindex="6">
      <% data.forEach((item, index) => { %>
        <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="clickable-image" tabindex="<%= 7 + index %>" aria-label="Selecteer SDG <%= index + 1 %>">
      <% }); %>
    </div>

    <div id="progress-bar-container" tabindex="24">
      <div id="progress-bar" tabindex="25"></div>
    </div>

    <div class="button-container">
      <form action="/stakeholder" method="post">
        <button class="back-button" tabindex="26">Back to stakeholders</button>
      </form>
      <form action="/vragenlijst" method="post">
        <button id="submit-button" tabindex="27">Kies deze sdg's</button>
      </form>
      <button id="remove-progress-button" tabindex="28"></button>
    </div>
  </div>
  </div>
</main>

<%- include('./partials/foot') %>


